[scenario]
	id=1_The_Student
	#textdomain wesnoth-aotu
	name= _ "The Student"
	map_data="{@campaigns/Attack_of_the_Undead/maps/1_The_Student.cfg}"
	{SCENARIO_MUSIC "wesnoth-1.ogg"}
	turns=1
	
	{DAWN}
	{MORNING}
	{AFTERNOON}
	{DUSK}
	{FIRST_WATCH}
	{SECOND_WATCH}
	
	next_scenario=2_Attack_of_the_Undead			 
				
	[side]
		no_leader=yes
		side=1	
		team_name=mages
		[unit]
			type=Mage
			description=Ryan
			user_description= _ "Ryan"
			unrenamable=yes
			side=1
			x=10
			y=9
		[/unit]
		[unit]
			type=Mage
			description=Deven
			user_description= _ "Deven"
			unrenamable=yes
			side=1 
			x=11
			y=10
		[/unit]
	[/side]
	
	[story]
		[part]
			story= _ "In a remote part of Wesnoth, there is a mage city where young mages learn away from the outside world."
		[/part]
		[part]
			story= _ "One day, two students, Ryan and Deven.."
		[/part]
	[/story]
	
	{STARTING_VILLAGES 1 6}	
	
	[event]
	name=start
		[message]
			speaker=Ryan
			message= _ "Hello Deven."
		[/message]
		[message]
			speaker=Deven
			message= _ "Hehehehee..."
		[/message]
		[kill]
			description=Deven
			animate=no
		[/kill]
		[message]
			speaker=narrator
			message= _ "Suddenly Deven vanished."
		[/message]	
		[message]
			speaker=Ryan
			message= _ "Deven?"
		[/message]
		[message]
			speaker=Ryan
			message= _ "What happened?"
		[/message]
		[endlevel]
			result=continue
		[/endlevel]
	[/event]
	
[/scenario]														